input{
    margin: 5px 0;
}
input.First{
    width: 50px;
    margin: 0 5px;
}
p{
    float: left;
    margin: 0 5px;
}

fieldset{
    width: 250px;
    padding: 10px 30px 10px 10px;
    background-color:lightsteelblue;
    margin-bottom: 10px;
}

legend{
    background-color: slategray;
    padding: 0 10px;
    color: whitesmoke;
}